<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="AppKey" value="2142466198"/>
    <add key="AppSecret" value="a0933fef8368edad6a623bda4dc6226c"/>
    <add key="CallbackUrl" value="http://localhost:3750/login.aspx"/>
  </appSettings>
</configuration>